.input {
  background-color: var(--white);
}

.input[type="text"],
.input[type="search"] {
  appearance: none;
  border-radius: 0;
  border: 0.0625rem solid var(--grey-scattered);
  border-bottom-color: var(--grey-overcast);
  box-shadow: 0 0.25rem 0.75rem rgba(20, 18, 81, 0);
  color: inherit;
  font: inherit;
  margin: 0;
  min-height: 3rem;
  padding: 0.75rem 1.25rem;
  padding-right: 3.5rem;
  transition: box-shadow 150ms ease-in-out;
  width: 100%;
}

.input[type="text"]:focus,
.input[type="search"]:focus {
  border-bottom-color: var(--afternoon-blue);
  box-shadow: 0 0.25rem 0.75rem rgba(20, 18, 81, 0.2);
  outline: 0;
}
