.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.mainHeader {
  display: flex;
  height: 100px;
  padding: 0 2rem;
  width: 100%;
}

.hero {
  background-image: url("https://images.ctfassets.net/biom0eqyyi6b/22co81g3BdvSw03gglqeNG/240c525ceb2a2c8c1470b2989c3da79a/herfst22_hero.webp?fm=jpg&fl=progressive&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  width: 100vw;
}

.heroInner {
  margin: 0 auto;
  max-width: 61.875rem;
  min-height: 300px;
}

.schipholLogo {
  color: #0d0a52;
}

@media (prefers-color-scheme: dark) {
  .main {
    background-color: #0d0a52;
  }

  .schipholLogo {
    color: white;
  }
}
